.container {
    flex-direction: row;
    justify-content: space-around;
}

.container.open {
    flex-direction: column;
    margin: auto auto;
}

.button {
    background-color: rgb(17, 17, 17);
    color: rgb(221, 221, 221);
    flex-direction: row;
    justify-content: space-around;
    -unity-text-align: middle-center;
    width: 150px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border-radius: 15px;
}

#home.button {
    width: 90px;
}

.open .button {
    font-size: 30px;
    border-width: 5px;
}

.open #home.button {
    width: 150px;
}

.open #restart-level {
    width: 300px;
}

.button:hover {
    color: rgb(150, 150, 150);
    border-color: rgb(150, 150, 150);
}

.button:focus {
    color: rgb(50, 180, 50);
    border-color: rgb(50, 180, 50);
}

.button:active {
    color: rgb(50, 200, 50);
    border-color: rgb(50, 200, 50);
}

.button-image {
    width: 20px;
    height: 20px;
}

.open .button-image {
    width: 40px;
    height: 40px;
}

.button-label {
}
